<div class="flex justify-content-center align-items-center h-screen">
    <div class="surface-card p-4 shadow-2 border-round w-11 lg:w-5">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium">Create Account</div>
        </div>

        <div>
            <label for="username" class="block text-900 font-medium mb-2">Username</label>
            <input id="username" type="text" placeholder="Username" pInputText class="w-full mb-3" [(ngModel)]="user.userName" >

            <label for="email" class="block text-900 font-medium mb-2">Email</label>
            <input id="email" type="text" placeholder="Email" pInputText class="w-full mb-3" [(ngModel)]="user.email">

            <label for="password1" class="block text-900 font-medium mb-2">Password</label>
            <input id="password1" type="password" placeholder="Password" pInputText class="w-full mb-3" [(ngModel)]="user.password">

            <label for="password2" class="block text-900 font-medium mb-2">Confirm Password</label>
            <input id="password2" type="password" placeholder="Confirm Password" pInputText class="w-full mb-5" [(ngModel)]="confirmPwd">            

            <button pButton pRipple label="Create" icon="pi pi-user" class="w-full mt-3" (click)="onSubmit()"></button>
            <button routerLink="/login" pButton severity="secondary" [text]="true" label="Cancel" icon="pi pi-times" class="w-full mt-2"></button>
        </div>
    </div>
</div>